*,
*::before,
*::after {
  box-sizing: border-box;
}

ul,
ol {
  list-style: none;
}

a{
  color:inherit;
  text-decoration: none;
}

#root{
  background-image: url(./money_bg.png);
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.App {
  text-align: center;
  max-width: 1280px;
  min-height: 100vh;
  margin: auto;
} 


