.frame{
    position: relative;
    border: 2px solid #165195;
    padding: 70px;
    border-radius: 50px;
    box-shadow: 5px 4px 5px 5px #612195;
    background: #bd6add36;
  }

  .link-button{
    background: transparent;
    border: none;
    font-size: 14px;
    color: #612195;
    font-weight: bolder;
    font-style: italic;
    cursor: pointer;
}
  
  .form{
    width: 40vh;
  }
  
  .name{
    display: flex;
    font-size: 20px;
    font-style: italic;
    margin-right: 20px;
    color: #612195;
    font-weight: 500;
  }
  
  .field{
    opacity: 0.6;
    padding: 5px;
    width: 100%;
    border-radius: 10px;
    margin-bottom: 15px;
  }
  
  .form__btn{
    margin-top: 15px;
    padding: 10px;
    width: 110px;
    border: 2px solid #612195;
    border-radius: 20px;
    background: #fff;
    color: #612195;
    font-size: 20px;
    font-weight: 600;
  }  

  .form__btn:hover{
    background: #bd6add9a;
    transition: ease-in-out 0.45s;
  }

  .form-btn:active{
    background: #bd6add9a;
    transition: ease-in-out 0.45s;
  }

  .close-btn {
    position: absolute;
    top: 20px;
    right: 20px;
    border: none;
    background: transparent;
    cursor: pointer;
  }
  
  .close-btn svg {
    width: 24px;
    height: 24px;
    fill: #333;
  }